body{
    margin: 0;
    padding: 0;

}
.top-container{
    background-image: url(andrew-reyan-wG-j0TPKwek-unsplash.jpg);
height: 100vh;
background-size: cover;display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.top-container h1{
    color: red;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}
.text{
    margin: 50px 5%;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    position: fixed;
    background-color: lightgreen;
    width: 100%;
    justify-content: space-between;
    align-self: center;
}
.navbar ul{
    display: flex;
    list-style: none;

}
.navbar ul li a {
    text-decoration: none;
    margin: 0 10px;
    color: red;
    font-family: cursive;
}
.navbar ul li a :hover{
    color: greenyellow;
}
.navbar .active{
    background-color: goldenrod;
}